@import "./base.css";
@import "./App.css";

/* Styles globaux additionnels pour forcer le rendu */
#root {
    width: 100%;
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
